.footer-container{
    width: 100%;
    height: 140px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items:center;    
    font-size: large;
    background-color: rgb(43, 101, 236,0.5);


}
.icon-list{
    display: flex;
    justify-content: center;
    font-size: x-large;
    gap: 15px;
}